.capability {
   padding-bottom: 60px;

   @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 120px;
   }

   &__inner{

      @media screen and (min-width: $breakpoint-lg) {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-bottom: 80px;
      }
   }

   &__subtitle {
      padding-bottom: 20px;
      
      @media screen and (min-width: $breakpoint-lg) {
         padding-bottom: 0px;
         flex: 1 1 45%;
      } 
   }

   &__inner-item {
      
      @media screen and (min-width: $breakpoint-lg) {
         display: flex;
         gap: 20px;
      }
   }

   &__text {
      padding-bottom: 20px;
      display: block;

      @media screen and (min-width: $breakpoint-lg) {
         padding-bottom: 0px;
      }
   }

   &__link {
      display: block;
      color: $basic-white;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.4;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      width: 150px;
      height: 40px;
      background: $bg-color;
      margin-bottom: 40px;
      transition: .3s ease;
      box-shadow: 0px 0px 20px 0px $accent-color;

      &:hover {
         background: $hover-color;
      }
      
      @media screen and (min-width: $breakpoint-lg) {
         margin-bottom: 0px;
         flex: 1 1 30%;
      } 
   }

   &__list {
      @media screen and (min-width: $breakpoint-md) {
         display: flex;
         gap: 28px;
      } 
   }

   &__item {
      margin-bottom: 20px;
      padding: 40px 20px;
      border: 1px solid $separator-color;

      @media screen and (min-width: $breakpoint-lg) {
         padding: 20px;
         margin-bottom: 0px;
      }
   }

   &__item-link {
      display: block;
      padding-bottom: 25px;

      img {
         width: 68px;
         height: 75px;

      }
   }

   &__item-title {
      color: $text-color;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      padding-bottom: 25px;
   }
}
