.ourstory {
   padding-bottom: 60px;

   @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 120px;
   }

   &__subtitle {
      align-items: center;
      padding-bottom: 30px;
      @media screen and (min-width: $breakpoint-md) {
      padding-bottom: 60px;
      }
   }

   &__inner {
      @media screen and (min-width: $breakpoint-lg) {
         display: flex;
         gap: 40px;
      }

      @media screen and (min-width: $breakpoint-lg) {
         gap: 80px;
      }
   }

   &__inner-item {
      padding-bottom: 20px;
      @media screen and (min-width: $breakpoint-lg) {
         padding-bottom: 0px;
         flex: 1 1 50%;
      }

   }

   &__inner-cards {
      @include flex-center;
      gap: 20px;

      @media screen and (min-width: $breakpoint-lg) {
         flex: 1 1 50%;
      }
   }

   &__inner-title {
      color: $text-color;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 30px;
      line-height: 1.4;

         a {
            text-decoration: none;
            color: $accent-color;
         }
   }

   &__inner-card {
      max-width: 140px;
      height: 220px;

      p {
         color: $basic-white;
         font-size: 24px;
         font-weight: 800;
         text-transform: uppercase;
         padding: 20px 5px 0 20px;
      }
      @media screen and (min-width: $breakpoint-md) {
         max-width: 100%;
      }

      &:nth-child(1) {
			background: url('../images/plan.svg') no-repeat center/cover;
         flex: 1 0 30%;
		}

		&:nth-child(2) {
			background: url('../images/manage.svg') no-repeat center/cover;
         flex: 1 0 30%;
		}
		&:nth-child(3) {
			background: url('../images/build.svg') no-repeat center/cover;
         flex: 1 0 30%;
		}
   }
}
